repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.1.0
  hooks:
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-docstring-first
  - id: check-json
  - id: check-merge-conflict
  - id: check-toml
  - id: check-symlinks
  - id: end-of-file-fixer
  - id: fix-encoding-pragma
  - id: mixed-line-ending
  - id: trailing-whitespace
- repo: http://github.com/pre-commit/pygrep-hooks
  rev: v1.9.0
  hooks:
  - id: python-check-blanket-noqa
  - id: python-check-blanket-type-ignore
  - id: python-no-eval
  - id: python-no-log-warn
  - id: python-use-type-annotations
- repo: https://github.com/psf/black
  rev: 22.3.0
  hooks:
  - id: black
    types: [python]
- repo: https://github.com/pycqa/pylint
  rev: v2.13.2
  hooks:
  - id: pylint
    language: system
    types: [python]
- repo: https://gitlab.com/pycqa/flake8
  rev: 4.0.1
  hooks:
  - id: flake8
    language: system
    types: [python]
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v0.942
  hooks:
  - id: mypy
    language: system
    types: [python]
- repo: local
  hooks:
  - id: pytest
    entry: pytest
    language: system
    pass_filenames: false
    name: pytest
    types: [python]
default_language_version:
  python: python3
