repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.1.0
  hooks:
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-docstring-first
  - id: check-executables-have-shebangs
  - id: check-merge-conflict
  - id: check-toml
  - id: check-symlinks
  - id: end-of-file-fixer
  - id: fix-encoding-pragma
  - id: mixed-line-ending
  - id: trailing-whitespace
- repo: http://github.com/pre-commit/pygrep-hooks
  rev: v1.9.0
  hooks:
  - id: python-check-blanket-noqa
  - id: python-check-blanket-type-ignore
  - id: python-no-eval
  - id: python-no-log-warn
  - id: python-use-type-annotations
- repo: https://github.com/psf/black
  rev: 21.12b0
  hooks:
  - id: black
    language_version: python3.9
- repo: https://github.com/pycqa/pylint
  rev: v2.12.2
  hooks:
  - id: pylint
    language: system
- repo: https://gitlab.com/pycqa/flake8
  rev: 4.0.1
  hooks:
  - id: flake8
    language: system
# - repo: https://github.com/python/mypy
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v0.930
  hooks:
  - id: mypy
    language: system
- repo: local
  hooks:
  - id: pytest
    entry: python setup.py test
    language: system
    pass_filenames: false
    name: pytest
    types: [python]
default_language_version:
  python: python3
