[BASIC]
good-names=a,b,c,d,df,i,l,logger,n,on,tz

[MASTER]
ignore=ci,docs

[MESSAGES CONTROL]
disable=duplicate-code,C0330

[MISCELLANEOUS]
# List of note tags to take in consideration, separated by a comma.
notes=FIXME,XXX

[SIMILARITIES]

# Minimum lines number of a similarity.
min-similarity-lines=4

# Ignore comments when computing similarities.
ignore-comments=yes

# Ignore docstrings when computing similarities.
ignore-docstrings=yes

# Ignore imports when computing similarities.
ignore-imports=yes
