[BASIC]
good-names=df,e,f,i,ok,logger

[MASTER]
ignore = _version.py,__init__.py

[MESSAGES CONTROL]
disable=C0330

[MISCELLANEOUS]
# List of note tags to take in consideration, separated by a comma.
notes=FIXME,XXX,TODO

[SIMILARITIES]

# Minimum lines number of a similarity.
min-similarity-lines=4

# Ignore comments when computing similarities.
ignore-comments=yes

# Ignore docstrings when computing similarities.
ignore-docstrings=yes

# Ignore imports when computing similarities.
ignore-imports=yes

[FORMAT]

# Maximum number of characters on a single line.
max-line-length=140

# Maximum number of lines in a module
max-module-lines=1000
