version: "3.8"

configs:
  freetds:
    file: freetds.conf
  localtime:
    file: localtime
  timezone:
    file: timezone

volumes:
  mssql-data:
  mongo-data:
  postgres-data:

services:
  mongo:
    command: [--noauth, --smallfiles, --quiet]
    configs:
    - source: localtime
      target: /etc/localtime
    - source: timezone
      target: /etc/timezone
    expose:
    - "27017"
    image: mongo:4.0.18-xenial
    ports:
    - "27017:27017"
    restart: always
    stop_signal: SIGINT
    volumes:
    - mongo-data:/data/db

# mssql for test
# MSSQL_COLLATION: LATIN1_GENERAL_100_CI_AS_SC

  mssql:
    environment:
      ACCEPT_EULA: Y
      MSSQL_PID: Developer
      MSSQL_COLLATION: LATIN1_GENERAL_100_CI_AS_SC_UTF8
      MSSQL_SA_PASSWORD: YourStrong!Passw0rd
    expose:
    - "1433"
    image: mcr.microsoft.com/mssql/server:2019-CU4-ubuntu-16.04
    ports:
    - "1433:1433"
    stop_signal: SIGINT
    volumes:
    - mssql-data:/var/opt/mssql/data
    - ./secrets:/secrets:ro

  timescaledb:
    build:
      context: .
      dockerfile: timescaledb.dockerfile
      target: timescaledb
    environment:
    - POSTGRES_USER=postgres
    - POSTGRES_PASSWORD=password
    - POSTGRES_DB=postgres
    image: timescaledb
    links:
    - mongo
    - mssql
    expose:
    - "5432"
    ports:
    - "5432:5432"
    restart: always
    stop_signal: SIGINT
    volumes:
    - postgres-data:/var/lib/postgresql/data
    - ./secrets:/secrets:ro
