[build-system]
requires = [
    "setuptools>=42.0.2",
    "setuptools_scm[toml]>=3.3.3",
    "wheel",
]

[tool.black]
line-length = 79
target-version = ["py37","py38"]

[tool.coverage.paths]
source = ["src", "*/site-packages"]

[tool.coverage.report]
exclude_lines = [
    "raise NotImplementedError()",
    "pragma: nocover",
    "if __name__ == .__main__.:",
]
precision = 2
show_missing = true

[tool.coverage.run]
branch = true
source = ["dsdk", "test"]
parallel = true

[tool.isort]
include_trailing_comma = true
line_length = 79
multi_line_output = 3
known_first_party = ["dsdk"]
default_section = "THIRDPARTY"

[tool.setuptools_scm]
