on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: checkout
      uses: actions/checkout@v2.3.0

    - name: lint
      run: |
        docker-compose -f docker-compose.test.yml up
        docker-compose -f docker-compose.test.yml down
